.header
{
    background-color:rgb(245, 164, 164);  
}

.header a:link 
{
    color : black; 
    font-size: 16px;
}

.shoppingCardText
{
    position: relative;
    left: 20px;
}

.itemsInCardText
{
    position: relative;
    left: 1250px;
}
 
  
