.productdesc
{
  width: 800px;
  left: 100px;
  display: inline-block;
 }

 .productprice
{
  width: 100px;
  left: 100px;
  display: inline-block;
 }

 .productaddDeleteCard
 {
   width: 100px;
   left: 100px;
   display: inline-block;
  }
